body {
    font-family: 'Mina', sans-serif;
    background-image: url(../img/95568029-two-black-falling-dice-isolated-on-white-casino-gambling-template-concept-vector-illustration.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }